# yaml-language-server: $schema=https://raw.githubusercontent.com/microsoft/azure-pipelines-vscode/master/service-schema.json

trigger:
- main

variables:
  imageName: 'springboot-app'
  acrName: 'shreyaspringacr'
  resourceGroup: 'springboot-rg'
  containerAppName: 'springboot-app'

pool:
  vmImage: 'ubuntu-latest'

stages:

# ================================
# BUILD + PUSH DOCKER IMAGE
# ================================
- stage: BuildAndPush
  displayName: Build and Push Docker Image
  jobs:
  - job: BuildPush
    steps:

    - task: Maven@3
      displayName: Build Spring Boot App
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'

    - task: Docker@2
      displayName: Build and Push to ACR
      inputs:
        command: buildAndPush
        repository: $(imageName)
        Dockerfile: Dockerfile
        containerRegistry: acr-connection
        tags: |
          $(Build.BuildId)

# ================================
# DEPLOY TO AZURE CONTAINER APPS
# ================================
- stage: Deploy
  displayName: Deploy to Azure Container Apps
  dependsOn: BuildAndPush
  jobs:
  - job: Deploy
    steps:

    - task: AzureCLI@2
      displayName: Update Container App
      inputs:
        azureSubscription: azure-connection
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az containerapp update \
            --name $(containerAppName) \
            --resource-group $(resourceGroup) \
            --image $(acrName).azurecr.io/$(imageName):$(Build.BuildId)
