
version: '3.8'

services:
  springapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springapp-container
    

    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/users/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
